
.all {
	padding: 1%;
	height: 100%;
	background-color: #e3edf5;
}

.top {
	height: 8%;
	width: 100%;
	display: flex;
	background-color: #e3edf5;
}

.open-end-div{
	display:block;
	z-index:99999;
	left:35%;
	top:42%;
	width: 30%;
	height: 16%;
	position: absolute;
	background-color: rgba(100,100,100,0.8);
	padding-top: 0.3rem;
	/*background-color: rgba(0, 0, 0, 0.5);*/
}
.open-end-div p{
	color: #ffffff;
	margin-left: 0.3rem;
	margin-bottom: 0;
	/*margin-top: 4%;*/
}
.open-end-div input{
	margin-left: 6%;
	width: 40%;
	margin-bottom: 4%;
	margin-right: 2%;
	border-radius: 0.3rem;
}
.open-end-div button{
	height: 30%;
	width: 20%;
	margin: 1%;
	background-color: #018bff;
	border-radius: 1rem;
	border-color: #ffffff;
	color: #ffffff;
}

#QA{
	display: block;
	position:fixed;
	z-index:999;
	top:0;
	right:0;
	font-weight:bold;
	border:1px solid #C0C0C0;
}
.form-top{
	background: #e3edf5;
	margin-left: 0.3125rem;
	margin-right: 0.3125rem;
	margin-top: 0.3125rem;
}


.form-group0{
	height: 18rem;
	width: 35rem;
	color: #ffffff;
	/*display: inline-block;
	vertical-align: bottom;*/
	background-color:#616161;
	border-bottom: 0.125rem solid #ffffff;
	margin-left: 0.3125rem;
	margin-right: 0.3125rem;
	margin-top: 0.3125rem;
	border-radius: 0.5rem;
	padding: 0.5rem;
	overflow-y: auto;
}

.form-group0 p{
	position: relative;
	color: #646464;
	background: #ffffff;
	border-radius: 0.125rem;
	display:inline-block;
	padding: 0.3rem;
}
.form-group0 .leftp{
	float: left;
	margin-right: 51%;
}
.form-group0 .rightp{
	float: right;
	margin-left: 51%;
}

.form-line{
	height: 9rem;
	width: 35rem;
	color: #ffffff;
	/*display: inline-block;
	vertical-align: middle;*/
	text-align: right;
	background-color:#616161;
	margin-left: 0.3125rem;
	margin-right: 0.3125rem;
	margin-bottom: 0.3125rem;
	border-radius: 0.5rem;
	padding: 0.5rem;
}

.alert-pormpt {
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
}

.buttonu{
	color: #018bff;
}


.h {
	height: 10%;
	width: 30%;
}

.type0 {
	height: 4rem;
	width: 8rem;
	margin: 1rem;
	margin-left: 3%;
	background-color: #018bff;
	border-radius: 1rem;
	border-color: #ffffff;
	color: #ffffff;
	font-weight: bold;
}
.type1 {
	height: 4rem;
	width: 8rem;
	margin: 1rem;
	background-color: #018bff;
	border-radius: 1rem;
	border-color: #ffffff;
	color: #ffffff;
}

#mian {
	display: flex;
	height: 90%;
	width: 100%;
}

.hj-wrap {
	/*text-align: center;*/
	color: #fff;
	position: relative;
	width: 100%;
	margin: 10px auto;
	clear: both;
	overflow: hidden;
}

#cy {
	background-color: #ffffff;
	float: left;
	position: relative;
}

.hj-transverse-split-div {
	height: 100%;
	padding: 0px;
	overflow: hidden;
}

#node {
	position: relative;
	background-color: #ffffff;
	float: left;
}

#cy1,
#cy2,
#map {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #f9fcff;
	/*border-bottom:1px solid #000 设置对象底边1px实线黑色边框。
	border:1px solid #000*/
}


.hj-wrap .hj-transverse-split-label {
	position: absolute;
	right: 0;
	top: 0;
	float: left;
	width: 2px;
	height: 100%;
	display: block;
	cursor: ew-resize;
	background-color: #646464;
	z-index: 9;
}

#nodeIN {

	background-color: #ffffff;
	/*padding: 0.5rem;*/

}

#nodeIN1 {

	background-color: #ffffff;

}

table {
	width: 98%;
	border-color: chartreuse;
	border-collapse: collapse;
	text-align: left;
	margin: 1%;
}

table tbody tr:nth-child(odd) {
	background: #FFFFFF;
}

table tbody tr:nth-child(even) {
	background: #f5f5f5;
}

table thead tr {
	background: #f5f5f5;
}

/*table td {
	height: 20%;
}*/

.hj-vertical-split-div {
	position: relative;
	border: 0px solid red;
	width: 99.9%;
	margin: 0 auto;
}

#nodeCN {
	background-color: #f5f5f5;
	overflow: auto;
	/*padding: 0.5rem;*/
}

.hj-vertical-split-label {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	display: block;
	cursor: ns-resize;
	background-color: #646464;
	z-index: 9;
	margin: 0;
}

#rblClasses {
	margin-left: 20px;
}

.form1 {
	/*box-sizing: border-box; */
	/*宽度和高度会包括内边距和边框*/
	position: relative;
	width: 300px;
	margin: 0 auto;
	/*设置宽度后，居中*/

}

.type2 {
	border: none;
	/*无边框样式；元素的总宽度和高度包括边框的宽度 */
	outline: none;
	/*无轮廓样式；轮廓是在元素周围绘制的一条线，在边框之外并且可能与其他内容重叠，以凸显元素，元素的总宽度和高度不受轮廓线宽度的影响。*/
	height: 42px;
	width: 42px;
	cursor: pointer;
	/*cursor属性定义了鼠标指针放在一个元素边界范围内时所用的光标形状*/
	position: absolute;
	background: #c5464a;
	border-radius: 0 19px 19px 0;
	width: 60px;
	right: 0;


}

.type2:hover {
	background-color: #c7585c;
	/*点击搜索按钮时的背景颜色*/
}

.type2:before {
	content: "搜索";
	/*插入的内容*/
	font-size: 13px;
	/*插入内容的字体大小*/
	color: #F9F0DA;
	/*插入内容的字体颜色*/
}


.form1 input {
	border: none;
	/*无边框样式；元素的总宽度和高度包括边框的宽度 */
	outline: none;
	/*无轮廓样式；轮廓是在元素周围绘制的一条线，在边框之外并且可能与其他内容重叠，以凸显元素，元素的总宽度和高度不受轮廓线宽度的影响。*/
	width: 100%;
	height: 42px;
	padding-left: 13px;
	border: 2px solid #c5464a;
	border-radius: 19px;
	/*border-radius 属性用于向元素添加圆角边框：*/
	background: transparent;
	/*背景透明*/

}

#shuru{
	border: none;
	outline: none;
	color: white;
	width: 100%;
	height: 100%;
	background: transparent;
}

.type3 {
	border: none;
	/*无边框样式；元素的总宽度和高度包括边框的宽度 */
	outline: none;
	/*无轮廓样式；轮廓是在元素周围绘制的一条线，在边框之外并且可能与其他内容重叠，以凸显元素，元素的总宽度和高度不受轮廓线宽度的影响。*/
	height: 32px;
	width: 60px;
	cursor: pointer;
	/*cursor属性定义了鼠标指针放在一个元素边界范围内时所用的光标形状*/
	position: absolute;
	color: #646464;
	background: #ffffff;
	border-radius: 19px 19px 19px 19px;
	right: 0.625rem;
    bottom: 0.9375rem;

}
